
\.config/BetterDiscord/

\.config/configstore/

\.config/deluge/

\.config/discord/

\.config/discordcanary/

\.config/hexchat/

\.config/libreoffice/

\.config/skypeforlinux \(deleted\)/

\.config/skypeforlinux/

\.config/Google Play Music Desktop Player/

\.config/google-chrome/

\.config/google-musicmanager/

\.config/GitKraken/

\.config/mopidy/

\.config/plex\.tv/

\.config/pulse/

\.config/vlc/

\.config/sublime-text-3/

\.config/gtk-3\.0/bookmarks

\.config/gmpc/

\.config/Atom/

\.config/anime-downloader/
