
\.config/BetterDiscord/

\.config/configstore/

\.config/deluge/

\.config/discord/

\.config/discordcanary/

\.config/hexchat/

\.config/libreoffice/

\.config/skypeforlinux \(deleted\)/

\.config/skypeforlinux/

\.config/Google Play Music Desktop Player/

\.config/google-chrome/

\.config/google-musicmanager/

\.config/GitKraken/

\.config/mopidy/

\.config/plex\.tv/

\.config/pulse/

\.config/vlc/

\.config/sublime-text-3/

\.config/gtk-3\.0/bookmarks

\.config/gmpc/

\.config/Atom/

\.config/anime-downloader/

\.config/obs-studio/

\.config/streamcurse/

\.config/streamlink-twitch-gui/

\.config/Thunar/

\.config/akregatorrc

\.config/arkrc

\.config/xfce4/

\.config/baloofileinformationrc

\.config/baloofilerc

\.config/bluedevilglobalrc

\.config/dolphinrc

\.config/emaildefaults

\.config/Webcamoid/

\.config/v4l2ucp/

\.config/pavucontrol\.ini

\.config/mimeapps\.list

\.config/plasma-org\.kde\.plasma\.desktop-appletsrc

\.config/spectaclerc

\.config/trashrc

\.config/user-dirs\.dirs

\.config/user-dirs\.locale

\.config/Trolltech\.conf

\.config/systemsettingsrc

\.config/systemmonitorrc

\.config/teamviewer/

\.config/systemd/

\.config/guvcview2/

\.config/enchant/

\.config/Dharkael/

\.config/dconf/

\.config/gedit/

\.config/gconf/

\.config/KShare/

\.config/libaccounts-glib/

\.config/autostart/

\.config/QtProject\.conf

\.config/startupconfig

\.config/startupconfigfiles

\.config/mc/

\.config/menus/

\.config/kded5rc

\.config/kconf_updaterc

\.config/ksysguardrc

\.config/drkonqirc

\.config/Synergy/

\.config/kactivitymanagerdrc

\.config/kactivitymanagerd-switcher

\.config/kactivitymanagerd-statsrc
